body{
    background: -webkit-gradient(linear, left top, right top, from(#0040FF), to(#00FFF3)) fixed;
}
#card{
    margin: 2%;
    height: 90%;
    border-radius: 2%;
    background-color: #FFFFFF;
}
#sidebar {
    width: 95%;
    margin: 2.5%;
    display: flex;
    background-color: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.buttons {
    width: 15%;
    margin: 3%;
    border: none;
    outline: none;
    height: 60px;
    background-color: rgba(0, 0, 255, 0.18);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#navbar {
    width: 95%;
    margin: 2.5%;
    display: flex;
    height: 50px;
    position: relative;
    flex-direction: ;
    border-radius: 8px;
    background-color: #000052;
    box-shadow: 0 0 1px black,0 0 1px #00001C,0 0 5px #002A36;
}
#navtext {
    font-size: 100%;
    margin: 5%;
}
#content {
    width: 95%;
    margin: 2.5%;
    display: flex;
    height: 50px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 1px black,0 0 1px #00001C,0 0 5px #002A36;
}
#button {
    margin: 1.5%;
    color: #000986;
}
#main{
    width: 90%;
    margin: 2%;
    height: 600px;
}
#bar{
    height: 80%;
    margin: 1.5%;
}
.hint{
    font-family: Verdana;
    font-size: 10px;
}
.ac{
    width: 20%;
    border-radius: 8px;
    background-color: blue;
    border: 0px;
}
