<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>home page</title>
        <link rel="stylesheet" href="app.component.css" type="text/css" />
    </head>
    <body>
        <div id="sidebar">
            <button class="buttons" type=""></button>
            <button class="buttons" type=""></button>
            <button class="buttons" type=""></button>
            <button class="buttons" type=""></button>
        </div>
    </body>
</html>